# requirements.txt
apache-airflow-providers-cncf-kubernetes==10.0.0
apache-airflow-providers-http
apache-airflow-providers-postgres
kubernetes                         # phụ thuộc, nhưng khai báo rõ cho chắc
prometheus-client
mlflow
pandas
numpy
scikit-learn
requests
